VITE_BACKEND_HOST="http://localhost:8000"
# In staging and production, set this env var to the backend host, e.g.
# VITE_BACKEND_HOST="https://api.fluxor.com"

VITE_API_BASE_URL="${VITE_BACKEND_HOST}/api/v1"